<!-- Inheriting all linked files -->
{% extends 'base.html' %} {% include 'header.html' %}

<!-- head section -->
{% block title %} Flask CRUD operation {% endblock %}


<!-- Body section -->
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3">

                <h3>Manage <b>Certificate </b> Data on Blockchain
				<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Add Certificate Data</button> 
				</h3>

                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">
                            x
                        </span>
                    </button> {{message}}
                </div>

                {% endfor %} {% endif %} {%endwith%}

                <table class="table table-hover table-lighter">

                    <tr>
                        <!--<th>ID</th>-->
						<th>Course Name</th>
						<th>Course Code</th>
						<th>Roll No</th>
                        <th>Name</th>
                        <th>Email</th>
                        
                        <th>Action</th>
                    </tr>

                    {% for row in all_data %}
						
                    <tr>
                        <!--<td>{{row.id}}</td>-->
						<td>{{row.coursename}}</td>
						<td>{{row.coursecode}}</td>
						<td>{{row.rollno}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.email}}</td>
                        
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Update Tx Id</a>
                            <!--<a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You sure To Delete ?')">Delete</a>
							-->
							<a href="https://rinkeby.etherscan.io/tx/{{row.bctransactionno}}"  target="_blank" class="btn btn-danger btn-xs"   >Blockchain View</a>
                        </td>
                    </tr>

                    <!-- Model for updating student data -->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"> Update Blockchain Tx Id  </h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update')}}" method="POST">

                                        <!--<div class="form-group">
                                            <label>Name</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="name" value="{{row.name}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" value="{{row.email}}" required="1">
                                        </div>
										-->
                                        <div class="form-group">
                                            <label>Blockchain Transaction ID</label>
											<input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="bctransactionno" value="{{row.bctransactionno}}" required="1">
                                        </div>

                                        <div class="modal-footer">
                                            <button class="btn btn-info" type="submit"> Update</button>
                                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
					
					<!-- Model for view data on blockchain
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"> Data on Blockchain  </h4>
                                </div>
                                <div class="modal-body">
                                    
                                </div>
                            </div>
                        </div>
                    </div> -->

                    {% endfor %}

                </table>

            </div>

            <!-- Model for adding student -->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"> Add student </h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">

                                <div class="form-group">
                                    <label>Course Name</label>
                                    <input type="text" class="form-control" name="coursename" required="1">
                                </div>
								<div class="form-group">
                                    <label>Course Code</label>
                                    <input type="text" class="form-control" name="coursecode" required="1">
                                </div>
								<div class="form-group">
                                    <label>Rollno</label>
                                    <input type="Number" class="form-control" name="rollno" required="1">
                                </div>
								<div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
								

                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Course Start date</label>
                                    <input type="text" class="form-control" name="startdate" required="1">
                                </div> 
								<div class="form-group">
                                    <label>Course End date</label>
                                    <input type="text" class="form-control" name="enddate" required="1">
                                </div> 

                                <div class="modal-footer">
                                    <button class="btn btn-success" type="submit"> Add student </button>
                                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}